/* #upload-data-text{

    lineHeight: 60px;
    borderWidth: 1px,;
    borderStyle: dashed;
    borderRadius: 5px;
} */

/* div {
    font-size: 40px;
} */

#header-title #month-dropdown{
    text-align: center;
}

#header-desc-text {
    padding-top: 5px;
    text-align: center;
}

#analysis-header, #inst, #steps, #cred{
    text-align: center;
}

.boxed {
    border: 1px solid rgb(86, 86, 255)
}